<%= form_for(@expansion) do |f| %>
  <% if @expansion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expansion.errors.count, "error") %> prohibited this expansion from being saved:</h2>

      <ul>
      <% @expansion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :abbreviation %>
    <%= f.text_field :abbreviation %>
  </div>
	<div class="field">
    <%= f.label :release_date %>
    <%= f.date_select :release_date %>
  </div>
	<div class="field">
		<%= f.file_field :logo %>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
