<% title 'Listing Orders' %>

<h1>Listing Orders</h1>

<div class="listing">
	<table>
	  <tr>
	    <th>Name</th>
	    <th>Address</th>
	    <th>Email</th>
	    <th>Pay type</th>
	    <th></th>
	  </tr>

	<% @orders.each do |order| %>
	  <tr>
	    <td><%= order.name %></td>
	    <td><%= order.address %></td>
	    <td><%= order.email %></td>
	    <td><%= order.pay_type %></td>
	    <td>
				<%= link_to 'Show', order %><br />
				<%= link_to 'Edit', edit_order_path(order) %><br />
				<%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
			</td>
	  </tr>
	<% end %>
	</table>
</div>
<div class="pagi">
	<%= paginate @orders %>
</div>
